.xwp-country-card {
	$cardMaxWidth: 400px; /* Greater than this, display doesn't look great */
	$borderColor: #dcdcde;
	$spacing: 1.5rem;

	border: 1px solid $borderColor;
	box-shadow: 0 1px 1px rgba(#000, 0.05);
	max-width: $cardMaxWidth;
	margin: $spacing auto;

	&__media {
		align-items: center;
		border-bottom: 1px solid $borderColor;
		display: flex;
		height: calc(200px + 5vw);
		justify-content: center;
		overflow: hidden;
		position: relative;
		margin: 0;

		&::before {
			align-items: center;
			content: attr(data-emoji-flag);
			display: flex;
			filter: blur(3vh) saturate(3) contrast(1) opacity(0.4);
			font-size: calc(800px + 3vh);
			height: 100%;
			justify-content: center;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}


	&-flag {
		font-size: calc(200px + 3vw);
		line-height: 1;
	}

	& &__heading {
		padding: $spacing;
		margin: 0;
		font-size: 2.1rem;
	}

	&__country-code {
		border-bottom: 4px dotted #000;
	}

	&__related-posts {
		border-top: 1px solid $borderColor;
		background-color: #fafafc;
		padding: $spacing;
	}

	& &__related-posts__heading {
		margin: 0;
		font-size: 1.5rem;
	}

	&__related-posts-list {
		padding-left: $spacing;
	}

	.related-post + .related-post {
		margin-top: $spacing;
	}

	.related-post .title {
		margin: 0;
		font-size: 1.6rem;
	}

	.related-post .excerpt {
		margin: 0;
	}
}
